[submodule "vendor/crashoz/uuid_v4"]
	path = vendor/crashoz/uuid_v4
	url = https://github.com/crashoz/uuid_v4.git
[submodule "vendor/google/googletest"]
	path = vendor/google/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/google/benchmark"]
	path = vendor/google/benchmark
	url = https://github.com/google/benchmark.git
[submodule "vendor/sewenew/redis-plus-plus"]
	path = vendor/sewenew/redis-plus-plus
	url = https://github.com/sarahjabado/redis-plus-plus.git
[submodule "vendor/unittest-cpp"]
	path = vendor/unittest-cpp
	url = https://github.com/unittest-cpp/unittest-cpp.git
[submodule "vendor/simde"]
	path = vendor/simde
	url = https://github.com/simd-everywhere/simde.git